# Logs
logs
*.log

# Directorios temporales
tmp
temp

node_modules/
.next/

credenciales/
BACKUP/
.env
.env.local
.env.development
credencialesbq.json
test.js
tailwind.config copy.js
notas.txt
app/api/test